<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lightRing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,220}</string>
                <key>spriteSourceSize</key>
                <string>{244,220}</string>
                <key>textureRect</key>
                <string>{{111,250},{244,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lightX.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,220}</string>
                <key>spriteSourceSize</key>
                <string>{244,220}</string>
                <key>textureRect</key>
                <string>{{205,1},{244,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>walkdown1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{109,240}</string>
                <key>spriteSourceSize</key>
                <string>{109,244}</string>
                <key>textureRect</key>
                <string>{{454,734},{109,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>walkdown2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{109,242}</string>
                <key>spriteSourceSize</key>
                <string>{109,244}</string>
                <key>textureRect</key>
                <string>{{333,247},{109,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkdown3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{109,242}</string>
                <key>spriteSourceSize</key>
                <string>{109,244}</string>
                <key>textureRect</key>
                <string>{{427,1},{109,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkdown4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{109,240}</string>
                <key>spriteSourceSize</key>
                <string>{109,244}</string>
                <key>textureRect</key>
                <string>{{550,244},{109,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkdown5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,240}</string>
                <key>spriteSourceSize</key>
                <string>{109,244}</string>
                <key>textureRect</key>
                <string>{{644,1},{109,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkdown6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{109,240}</string>
                <key>spriteSourceSize</key>
                <string>{109,244}</string>
                <key>textureRect</key>
                <string>{{645,486},{109,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkdown7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{109,240}</string>
                <key>spriteSourceSize</key>
                <string>{109,244}</string>
                <key>textureRect</key>
                <string>{{661,243},{109,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkdown8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{109,240}</string>
                <key>spriteSourceSize</key>
                <string>{109,244}</string>
                <key>textureRect</key>
                <string>{{696,728},{109,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>walkleft1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{114,237}</string>
                <key>spriteSourceSize</key>
                <string>{114,253}</string>
                <key>textureRect</key>
                <string>{{755,1},{114,237}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>walkleft2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{110,243}</string>
                <key>spriteSourceSize</key>
                <string>{114,253}</string>
                <key>textureRect</key>
                <string>{{209,496},{110,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkleft3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{100,253}</string>
                <key>spriteSourceSize</key>
                <string>{114,253}</string>
                <key>textureRect</key>
                <string>{{1,1},{100,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkleft4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{108,249}</string>
                <key>spriteSourceSize</key>
                <string>{114,253}</string>
                <key>textureRect</key>
                <string>{{1,256},{108,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkleft5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{114,237}</string>
                <key>spriteSourceSize</key>
                <string>{114,253}</string>
                <key>textureRect</key>
                <string>{{755,117},{114,237}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>walkleft6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,2}</string>
                <key>spriteSize</key>
                <string>{100,245}</string>
                <key>spriteSourceSize</key>
                <string>{114,253}</string>
                <key>textureRect</key>
                <string>{{107,507},{100,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkleft7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,3}</string>
                <key>spriteSize</key>
                <string>{100,247}</string>
                <key>spriteSourceSize</key>
                <string>{114,253}</string>
                <key>textureRect</key>
                <string>{{103,1},{100,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkleft8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,3}</string>
                <key>spriteSize</key>
                <string>{104,245}</string>
                <key>spriteSourceSize</key>
                <string>{114,253}</string>
                <key>textureRect</key>
                <string>{{1,507},{104,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkup1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{104,241}</string>
                <key>spriteSourceSize</key>
                <string>{108,243}</string>
                <key>textureRect</key>
                <string>{{444,245},{104,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkup2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,7}</string>
                <key>spriteSize</key>
                <string>{104,229}</string>
                <key>spriteSourceSize</key>
                <string>{108,243}</string>
                <key>textureRect</key>
                <string>{{756,485},{104,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>walkup3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{104,241}</string>
                <key>spriteSourceSize</key>
                <string>{108,243}</string>
                <key>textureRect</key>
                <string>{{538,1},{104,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkup4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{106,243}</string>
                <key>spriteSourceSize</key>
                <string>{108,243}</string>
                <key>textureRect</key>
                <string>{{321,496},{106,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkup5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{108,241}</string>
                <key>spriteSourceSize</key>
                <string>{108,243}</string>
                <key>textureRect</key>
                <string>{{429,491},{108,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkup6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,7}</string>
                <key>spriteSize</key>
                <string>{104,229}</string>
                <key>spriteSourceSize</key>
                <string>{108,243}</string>
                <key>textureRect</key>
                <string>{{756,591},{104,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>walkup7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{104,241}</string>
                <key>spriteSourceSize</key>
                <string>{108,243}</string>
                <key>textureRect</key>
                <string>{{539,488},{104,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkup8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{104,243}</string>
                <key>spriteSourceSize</key>
                <string>{108,243}</string>
                <key>textureRect</key>
                <string>{{209,741},{104,243}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{772,233},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>characterDefault.png</string>
            <key>size</key>
            <string>{993,846}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5ac590d3dd7b92d2b1099e1f97cc1ba:1e78f670e5f5d357baf1357b9f6e9d3c:cf1c71abcbe98796a9f71f8889c8089a$</string>
            <key>textureFileName</key>
            <string>characterDefault.png</string>
        </dict>
    </dict>
</plist>
